.resource_box li {
    list-style: none;
    padding: 0;
}

.content {
    margin-top: 54px;
}

.header {
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: #696cff;
}

.left-title {
    color: #fff !important;
    font-size: 18px;
    float: left;
}

.link_ali {
    color: #fff !important;
}

.right-title {
    width: 150px;
    text-align: right;
    float: right;
    color: #fff;
}

.quiz-body {
    margin-top: 15px;
    padding-bottom: 50px;
}

.option-block-container {
    margin-top: 20px;
    max-width: 420px;
}

.option-block {
    padding: 10px;
    background: aliceblue;
    border: 1px solid #84c5fe;
    margin-bottom: 10px;
    cursor: pointer;
}

.result-question {
    font-weight: bold;
}

.c-wrong {
    margin-left: 20px;
    color: #ff0000;
}

.c-correct {
    margin-left: 20px;
    color: green;
}

.last-row {
    border-bottom: 1px solid #ccc;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.res-header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.content .row {
    text-align: -webkit-center;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Qo'shimcha uslublar */
    width: 100%;
    /* Elementning to'liq kengligi bo'yicha */
    height: 100vh;
    /* Elementning to'liq balandligi bo'yicha */
    /* ... yoki kerakli joyda markazga joylashgan elementning hajmini va uslublarini belgilashingiz mumkin */
}

@media screen {
    
}